footer {
  background-color: #f4f4f4;

  margin-left: 95px;
  .partage {
    width: 74.58%;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 150px;
    margin-bottom: 30px;
    background-color: rgb(51, 51, 51);
    & * {
      align-items: center;
    }
    .block1 {
      display: flex;
      gap: 20px;
      & span {
        padding: 0px 5px;
        display: flex;
        font-weight: 800;
        font-size: 34.006px;
      }

      @media screen and (max-whidth: 497px) {
        & svg {
          display: none;
        }
      }
    }
    .block2 {
      display: flex;
      gap: 10px;
      font-size: 14px;
      .facebook {
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        gap: 10px;
        padding-right: 90px;
        background-color: rgb(59, 89, 152);
        img {
          border-radius: 5px;
          height: 30px;
        }
      }
      .twitter {
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        gap: 10px;
        background-color: rgb(85, 172, 238);
        padding-right: 100px;
        & img {
          border-radius: 5px;
          height: 30px;
        }
      }
    }
  }
  .footer {
    width: 75%;
    background-color: $colornintendo;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .footerHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 7px;
      .button {
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        gap: 10px;
        color: white;
        padding: 7px;
        border: 1px solid $colorfooter;
        background-color: $colorfooter;

        .country-selector-text {
          font-size: 12px;
          font-weight: 800;
        }
      }
    }
    .footerBody {
      width: 100%;
      background-color: $colorfooter;
      padding: 10px;
      color: #f4f4f4;
      font-size: 12px;
      .info1 {
        display: flex;
        padding: 10px;
        gap: 25px;
      }
      .info2 {
        display: flex;
        padding: 10px;
        gap: 25px;
      }
      .info3 {
        padding: 10px;
      }
    }
  }
}
