menu {
  position: relative;
  height: calc(100vh - 70px);
  background-color: $colorfooter;
  color: #fff;
  width: 90px;
  font-size: 0.8rem;
  & :nth-child(9) {
    height: 50px;
  }

  .corner {
    position: absolute;
    top: 0;
    right: 0;
    fill: $colorcorner;
  }
  li {
    background-color: $colornintendo;
    &:hover {
      background-color: $colorborder;
    }
    gap: 5px;
    height: 80px;

    width: 100%;
    border-top: solid 1px $colorborder;
    border-right: solid 1px $colorborder;
    @include centercolumn;
  }
  .top {
    @include center;
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .divers {
    font-size: 1.5rem;
  }
}
