nav {
  position: fixed;
  z-index: 100000;
  top: 0;
  width: 100%;
  font-family: $font1;
  background-color: $colornintendo;
  color: #fff;
  height: 70px;
  padding: 0 20px;

  @include center;
  justify-content: space-between;
  svg {
    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    display: flex;
    gap: 10px;
    li {
      @include centercolumn;
      gap: 5px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  div {
    font-size: 11.2px;
  }
}
