*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centercolumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
$colornintendo: rgb(230, 0, 18);
$colorborder: rgb(207, 0, 0);
$colorcorner: rgb(111, 0, 9);
$colorfooter: rgb(191, 0, 16);

body {
  a {
    color: #fff;
  }
  svg {
    fill: #fff;
  }
  li {
    list-style: none;
  }
}

@font-face {
  font-family: "font1";
  src: url(../Fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

$font1: "font1", sans-serif;
