*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body a {
  color: #fff;
}
body svg {
  fill: #fff;
}
body li {
  list-style: none;
}

@font-face {
  font-family: "font1";
  src: url(../Fonts/OpenSans-VariableFont_wdthwght.ttf);
}
nav {
  position: fixed;
  z-index: 100000;
  top: 0;
  width: 100%;
  font-family: "font1", sans-serif;
  background-color: rgb(230, 0, 18);
  color: #fff;
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav svg {
  font-size: 1.5rem;
}
nav svg:hover {
  cursor: pointer;
}
nav ul {
  display: flex;
  gap: 10px;
}
nav ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}
nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
nav div {
  font-size: 11.2px;
}

menu {
  font-family: "font1", sans-serif;
  position: relative;
  height: calc(100vh - 70px);
  background-color: rgb(191, 0, 16);
  color: #fff;
  width: 87px;
  font-size: 11.2px;
  line-height: 1;
  position: fixed;
  left: 0;
}
menu :nth-child(9) {
  height: 50px;
  font-size: 2rem;
  padding-bottom: 15px;
}
menu .corner {
  position: absolute;
  top: 0;
  right: 0;
  fill: rgb(111, 0, 9);
}
menu li {
  position: relative;
  background-color: rgb(230, 0, 18);
  gap: 5px;
  height: 90px;
  width: 100%;
  border-top: solid 1px rgb(207, 0, 0);
  border-right: solid 1px rgb(207, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
menu li:hover {
  background-color: rgb(207, 0, 0);
}
menu .top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
@media screen and (max-height: 880px) {
  menu > :nth-child(7) {
    display: none;
  }
}
@media screen and (max-height: 770px) {
  menu > :nth-child(6) {
    display: none;
  }
}
@media screen and (max-height: 700px) {
  menu > :nth-child(5) {
    display: none;
  }
}
@media screen and (max-height: 610px) {
  menu > :nth-child(4) {
    display: none;
  }
}
@media screen and (max-height: 520px) {
  menu > :nth-child(3) {
    display: none;
  }
}
@media screen and (max-height: 420px) {
  menu > :nth-child(2) {
    display: none;
  }
}
@media screen and (max-height: 335px) {
  menu > :nth-child(1) {
    display: none;
  }
}

main {
  display: flex;
  margin-top: 70px;
  margin-left: 93px;
  background-color: #f4f4f4;
}

.centralBlock {
  width: 66.5%;
  color: black;
}
.centralBlock .grid_img {
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}
.centralBlock .grid_img > div:hover {
  box-shadow: 0px 8px 10px gray;
  transition: 0.5s;
  transform: translateY(-8px);
}
.centralBlock .grid_img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.centralBlock .grid_img .one {
  grid-area: 1/1/1/1;
}
.centralBlock .grid_img .two {
  position: relative;
  grid-area: 1/2/2/3;
}
.centralBlock .grid_img .three {
  grid-area: 3/3/1/4;
}
.centralBlock .grid_img .four {
  position: relative;
  grid-area: 2/1/3/3;
}
.centralBlock .grid_img .five {
  grid-area: 3/1/5/2;
}
.centralBlock .grid_img .six {
  grid-area: 3/2/4/3;
}
.centralBlock .grid_img .seven {
  grid-area: 3/3/4/4;
}
.centralBlock .grid_img .eight {
  grid-area: 4/2/5/4;
}
.centralBlock .grid_img .nine {
  grid-area: 5/1/6/2;
}
.centralBlock .grid_img .ten {
  position: relative;
  grid-area: 5/2/6/3;
}
.centralBlock .grid_img .eleven {
  grid-area: 6/1/7/3;
}
.centralBlock .grid_img .twelve {
  grid-area: 5/3/7/4;
}
.centralBlock .grid_img .thirteen {
  grid-area: 7/1/9/2;
}
.centralBlock .grid_img .fourteen {
  grid-area: 7/2/8/3;
}
.centralBlock .grid_img .fiveteen {
  grid-area: 7/3/8/4;
}
.centralBlock .grid_img .sixteen {
  grid-area: 8/2/9/4;
}
.centralBlock .grid_img .caption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  width: 100%;
  height: 50px;
}
.centralBlock .grid_img p {
  color: white;
}

.rightBlock {
  font-family: "font1", sans-serif;
  letter-spacing: 1px;
  width: 33.5%;
}
.rightBlock .red {
  color: red;
}
.rightBlock .grid_news {
  margin-top: 8px;
  margin-left: 3px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr, 10fr, 0.5fr;
}
.rightBlock .grid_news > div {
  display: flex;
}
.rightBlock .grid_news > div :hover h2 {
  text-decoration: underline;
}
.rightBlock .grid_news h2 {
  margin: 4px;
  font-size: 16px;
  word-break: break-word;
}
.rightBlock .grid_news .vignette {
  background-color: white;
  margin-bottom: 4px;
  padding: 5px;
  cursor: pointer;
  width: 24%;
}
.rightBlock .grid_news .vignette img {
  width: 100%;
}
.rightBlock .grid_news .texte {
  background-color: white;
  margin-bottom: 4px;
  cursor: pointer;
  display: flex;
  width: 76%;
  flex-direction: column;
}
.rightBlock .grid_news .date {
  flex-direction: row;
  margin: 0px 0px 8px;
  color: #999;
  font-size: 11px;
}
.rightBlock .grid_news .descriptif {
  color: #666;
  font-size: 13px;
}
.rightBlock .grid_news .un {
  background-color: white;
  margin-bottom: 4px;
  padding: 20px;
}
.rightBlock .grid_news .un .titre1 {
  border-left: solid 4px #e9e9e9;
  padding: 10px;
}
.rightBlock .grid_news .douze {
  background-color: white;
  margin-bottom: 4px;
  padding: 20px;
  justify-content: end;
  gap: 5px;
  font-size: 11px;
  font-weight: 800;
}
.rightBlock .grid_news .douze svg {
  fill: black;
}
.rightBlock .grid_news .douze :hover {
  text-decoration: underline;
}
.rightBlock .grid_bientotDispo {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 0.5fr, 5fr, 0.5fr;
}
.rightBlock .grid_bientotDispo > div {
  display: flex;
}
.rightBlock .grid_bientotDispo > div :hover h2 {
  text-decoration: underline;
}
.rightBlock h2 {
  margin: 4px;
  font-size: 16px;
  word-break: break-word;
}
.rightBlock .vignette {
  background-color: white;
  margin-bottom: 4px;
  padding: 5px;
  cursor: pointer;
  width: 24%;
}
.rightBlock .vignette img {
  width: 100%;
}
.rightBlock .texte {
  background-color: white;
  margin-bottom: 4px;
  cursor: pointer;
  display: flex;
  width: 76%;
  flex-direction: column;
}
.rightBlock .date {
  flex-direction: row;
  margin: 0px 0px 8px;
  color: #999;
  font-size: 11px;
}
.rightBlock .treize {
  grid-area: 1;
  background-color: white;
  margin-bottom: 4px;
  padding: 20px;
}
.rightBlock .treize .titre1 {
  font-size: 11px;
  border-left: solid 4px #e9e9e9;
  padding: 10px;
}
.rightBlock .dixhuit {
  background-color: white;
  margin-bottom: 4px;
  padding: 20px;
  justify-content: end;
  gap: 5px;
  font-size: 13px;
  font-weight: 600;
}
.rightBlock .dixhuit svg {
  fill: rgb(232, 21, 38);
}
.rightBlock .dixhuit :hover {
  text-decoration: underline;
}
.rightBlock .grid_sortiesRecentes {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 0.5fr, 6fr, 0.5fr;
}
.rightBlock .grid_sortiesRecentes > div {
  display: flex;
}
.rightBlock .grid_sortiesRecentes > div :hover h2 {
  text-decoration: underline;
}
.rightBlock h2 {
  margin: 4px;
  font-size: 16px;
  word-break: break-word;
}
.rightBlock .vignette {
  background-color: white;
  margin-bottom: 4px;
  padding: 5px;
  cursor: pointer;
  width: 24%;
}
.rightBlock .vignette img {
  width: 100%;
}
.rightBlock .texte {
  background-color: white;
  margin-bottom: 4px;
  cursor: pointer;
  display: flex;
  width: 76%;
  flex-direction: column;
}
.rightBlock .date {
  flex-direction: row;
  margin: 0px 0px 8px;
  color: #999;
  font-size: 11px;
}
.rightBlock .dixneuf {
  background-color: white;
  margin-bottom: 4px;
  padding: 20px;
}
.rightBlock .dixneuf .titre1 {
  font-size: 11px;
  border-left: solid 4px #e9e9e9;
  padding: 10px;
}
.rightBlock .vingtquatre {
  background-color: white;
  margin-bottom: 4px;
  padding: 20px;
  justify-content: end;
  gap: 5px;
  font-size: 13px;
  font-weight: 600;
}
.rightBlock .vingtquatre svg {
  fill: rgb(232, 21, 38);
}
.rightBlock .vingtquatre :hover {
  text-decoration: underline;
}

footer {
  font-family: "font1", sans-serif;
  margin-left: 95px;
}
footer .partage {
  width: 75%;
  color: white;
  display: flex;
  padding: 10px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(51, 51, 51);
}
footer .partage svg {
  margin-left: auto;
  margin-right: 20px;
}
footer .partage span {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-weight: 800;
  font-size: 35px;
}
footer .partage .facebook {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: rgb(59, 89, 152);
  padding-right: 15px;
}
footer .partage .facebook img {
  border-radius: 5px;
  height: 100%;
}
footer .partage .twitter {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: rgb(85, 172, 238);
  padding-right: 15px;
  margin-right: auto;
  margin-left: 10px;
}
footer .partage .twitter img {
  border-radius: 5px;
  height: 100%;
}
footer .footer {
  width: 75%;
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgb(230, 0, 18);
  height: 173px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
footer .footer .button {
  display: flex;
  position: absolute;
  top: 5px;
  right: 20px;
  color: white;
  gap: 7px;
  border: 1px solid rgb(191, 0, 16);
  background-color: rgb(191, 0, 16);
  padding-top: 6px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
}
footer .footer .button .country-selector-text {
  font-size: 12px;
  font-weight: 800;
}/*# sourceMappingURL=index.css.map */